body {
  background-color:rgb(166, 166, 166);
}

.content-background {
  background-color:rgba(0,0,0,0.3);
}

.awesome-person {
  font-size: 18px;
  margin-top:0;
}

.table {
  display: table;
}

.hero-text {
  font-size:23px;
  padding-top: 56px;
  padding-bottom: 24px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  display: table-cell;
  vertical-align: middle;
  color: black;
}

.hero-line {
  height: 5px;
  background-color:black;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.brett-harmon-img{
  width:90%;
  border-radius:60%;
  border: 9px solid black;
  
  
}

.brett-harmon-container {
  border-radius:100px:
  border:10px;
  
}
.spacer {
  padding-top: 1rem;
}

.spacer:last-of-type {
  padding-bottom: 1rem;
}

footer {
  background-color: grey;
  text-align: center;
}

#footer h3 {
  color: white;
}

#footer p {
  color:white;
}

.footer-col-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

#footer i {
  color:black;
  zoom: 140%;
}
.card{
 background-color:white;
}